<style>

    div.row-2 {
        border: 2px solid #f1f1f1;
        background-border: #f1f1f1;
        margin-bottom: 4em;
        margin-left: 4em;
        margin-right: 4em;
    }

    .individual-card {
        border: 3px solid #f1f1f1;
        margin-bottom: 1em;
    }

    .card {
        border: 3px solid #f1f1f1;
        box-sizing:border-box;
        border-radius: 15px;
        height: 100%;
        width: 100%;
    }

    .card:hover {
        border: 3px solid #acc8d7;
        border-radius: 15px;
    }


    .card-image {
        border: 3px solid #f1f1f1;
    }

    .product-image {
        box-sizing:border-box;
        object-fit: contain;
        height: 60%;
        border-radius: 15px;
    }

    .card-body {
        border: 3px solid white;
        box-sizing:border-box;
        object-fit: contain;
        text-align: center;
        height: 40%;
        border-radius: 15px;
    }

    .container-card {
        border: 3px solid white;     
        box-sizing:border-box;
        height: 100%
    }

    .card-title {
        height: 45%;
        padding-top: 10%;
        color: black;
    }

    .container-add-to-cart {
        height: 55%;
        padding-bottom: 20%;
    }

</style>


<div class="row row-2">
    {% for product in products %}
        <div class="col-12 col-md-3 individual-card">
          
            <div class="card">
                <img class="product-image" src="{{ product.image.url }}"/>
                <div class="container card-body">
                
                <div class="container container-card">
                <h5 class="card-title">
                    <a class="card-title" href="{% url 'product' slug=product.slug %}">{{ product.brand }} {{ product.name }}</a>
                </h5>

                <div class="container-add-to-cart">
                
                <p class="card-text">{{ product.price }} {{product.currency}}</p>
                
                <a href="#" 
                id="menu-cart-button" 
                class="w-100 btn btn-lg btn-primary add-button"
                hx-get="{% url "add_to_cart" product.id %}"
                hx-target="#menu-cart-button"
                hx-swap="outerHTML">
                Add to Cart
                </a>
                </div>
                </div>
                </div>
            
            </div>
    
        </div>
    {% endfor %}
</div>