<style>

    .individual-card {
        display: flex;
        margin-bottom: 1em;
    }

    .card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border-radius: 15px;
        height: 100%;
        width: 100%;
    }

    .card:hover {
        border: 3px solid #acc8d7;
        border-radius: 15px;
    }

    .product-image {
        display: flex;
        box-sizing:border-box;
        object-fit: contain;
        max-height: 100%;        
        max-width: 100%;
        border-radius: 15px;
        padding: 15px;
    }

    .container-image {
        display: flex;
        flex: 0 0 60%;
        align-content: center;
        min-height: 60%;
        justify-content: center;
        align-items: center;
    }

    .card-body {
        display: flex;
        flex: 0 0 40%;
        flex-direction: column;
        max-width: 100%;
        max-height: 100%;
        box-sizing:border-box;
        object-fit: contain;
        text-align: center;
        border-radius: 15px;
        box-sizing:border-box;
    }

    .container-card-title {
        display: flex;
        flex: 0 0 50%;
        max-height: 100%;
        min-width: 100%;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    h5.card-title {
        color: black;
        align-self: center;
    }
 
    .container-card-text {
        display: flex;
        flex: 0 0 20%;
        min-width: 100%;
        max-height: 100%;
        justify-content: center;
        align-items: center;
    }

    .container-add-to-cart {
        display: flex;
        flex: 0 0 30%;
        min-width: 100%;
        padding: 5px;
    }

    #card-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, #4a60c1 10%, #3985e0);

    }
    
    #card-button:hover {
        background: linear-gradient(to right, #35863f 10%, #4d9f4e);
        transition: 0.6s;
    }

</style>


<div class="row row-2">
    {% for product in products %}
        <div class="col-12 individual-card-col individual-card">

            <div class="card">

                <div class="container container-image">
                    <img class="product-image" src="{{ product.image.url }}"/>
                </div>

                <div class="container card-body">
                
                    <div class="container container-card-title">
                        <h5 class="card-title">
                            <a class="card-title" href="{% url 'product' slug=product.slug %}">{{ product.brand }} {{ product.name }}</a>
                        </h5>
                    </div>
                
                
                    <div class="container container-card-text">
                        <p class="card-text">{{ product.price }} {{product.currency}}</p>
                    </div>

                    <div class="container-add-to-cart">
                        <a href="#" 
                        id="card-button" 
                        class="w-100 btn btn-primary"
                        hx-get="{% url "add_to_cart" product.id %}"
                        hx-trigger="click"
                        hx-target="#menu-cart-button"
                        >
                        Add to Cart
                        </a>
                    </div>
                </div>
            </div>

        </div>
    {% endfor %}
</div>

<div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>