{% extends "shopapp/layout.html" %} 

{% block head %}
<style>

main.page {
    background-color: #f1f1f1;
    border: 3px solid #f1f1f1;
}

.container-checkout {
    border: 3px solid #f1f1f1;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 15px;
}

.row-checkout {
    background-color:white;
    border: 3px solid #f1f1f5;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 15px;
}

li.list-group-item {
    display: flex;
    flex-direction: row;
}

span.price-currency {
    padding-left: 2em;
}

.checkout {
    margin-bottom: 0.5rem;
    background: linear-gradient(to right, #4a60c1 10%, #3985e0);
}

.checkout:hover {
    background: linear-gradient(to right, #35863f 10%, #4d9f4e);
    transition: 0.6s;
}

</style>
{% endblock head %}

{% block title %}
Checkout
{% endblock title %}

{% block content %}
<main class="page">
    <div class="container container-checkout">
        <div class="row row-checkout">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    <span class="badge badge-secondary badge-pill">3</span>
                </h4>
                <ul class="list-group mb-3 sticky-top">
                    {% for item in cart %}
                    <li class="list-group-item justify-content-between quantity-product-price">
                        <div>
                            <h6 class="my-0">{{ item.quantity }} x {{ item.product.brand }} {{ item.product.name }}</h6>
                        </div>
                        <div>
                            <span class="text-muted price-currency">{{ item.product.price }} {{ item.product.currency }}</span>
                        </div>
                    </li>
                    {% endfor %}
                    <li class="list-group-item justify-content-between total-price">
                        <div>
                            <span>Total</span>
                        </div>
                        <div>
                            <strong>{{ cart.get_total_cost }} EURO</strong>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Billing address</h4>
                <form id="checkoutForm">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">First name</label>
                            <input name="first_name" type="text" class="form-control" id="firstName" value="" required>
                            <div id="first_nameError" class="error-message"></div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Last name</label>
                            <input name="last_name" type="text" class="form-control" id="lastName" value="" required>
                            <div id="last_nameError" class="error-message"></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input name="email" type="email" class="form-control" id="email" required value="">
                        <div id="emailError" class="error-message"></div>
                    </div>
                    <div class="mb-3">
                        <label for="address">Address</label>
                        <input name="address" type="text" class="form-control" id="address" required>
                        <div id="addressError" class="error-message"></div>
                    </div>
                    <div class="mb-3">
                        <label for="optional_address">Address 2 <span class="text-muted">(Optional)</span></label>
                        <input name="optional_address" type="text" class="form-control" id="optional_address">
                        <div id="optionalAddressError" class="error-message"></div>
                    </div>
                    <div class="mb-3">
                        <label for="phone">Phone number</label>
                        <input name="phone" type="tel" class="form-control" id="phone" pattern="[0-9]{10}" required maxlength=12>
                        <small class="text-muted">Format: 07xxxxxxxx</small>
                        <div id="phoneError" class="error-message"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="country">Country</label>
                            <input name="country" type="text" class="form-control" id="country" required>
                            <div id="countryError" class="error-message"></div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="city">City</label>
                            <input name="city" type="text" class="form-control" id="city" required>
                            <div id="cityError" class="error-message"></div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="zip">Zip</label>
                            <input name="zip_code" type="text" class="form-control" id="zip_code" required>
                            <div id="zip_codeError" class="error-message"></div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button onclick="buy(event)" class="btn btn-primary btn-lg btn-block checkout" type="submit">Confirm checkout</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}


{% block scripts %}
<script type="application/javascript" src="https://js.stripe.com/v3"> </script>
<script> 
    function validateForm(data) {
        let errors = {};
    
        if (data.first_name === '') {
            errors.first_name = 'First name is empty';
        }
        
        if (data.last_name === '') {
            errors.last_name = 'Last name is empty';
        }

        if (data.email === '') {
            errors.email = 'Email is empty';
        }
    
        if (data.address === '') {
            errors.address = 'Address is empty.';
        }
    
        if (data.phone === '') {
            errors.phone = 'Phone number is empty.';
        }
    
        if (data.country === '') {
            errors.country = 'Country is empty.';
        }
    
        if (data.city === '') {
            errors.city = 'City is empty.';
        }
    
        if (data.zip_code === '') {
            errors.zip_code = 'Zip code is empty.';
        }
    
        return errors;
    }
    
    /* JS Logic for diplaying errors if input is empty */

    function displayErrors(errors) {
        // Clear all previous error messages
        document.querySelectorAll('.error-message').forEach(el => el.innerHTML = '');
    
        // Display new error messages
        for (const [field, message] of Object.entries(errors)) {
            const errorContainer = document.querySelector(`#${field}Error`);
            if (errorContainer) {
                errorContainer.innerHTML = `<p class="text-danger" style="margin-left:2px;">${message}</p>`;
            }
        }
    }
    
    function buy(event) {
        event.preventDefault();
    
        let data = {
            'first_name': document.querySelector('input[name=first_name]').value,
            'last_name': document.querySelector('input[name=last_name]').value,
            'email': document.querySelector('input[name=email]').value,
            'address': document.querySelector('input[name=address]').value,
            'optional_address': document.querySelector('input[name=optional_address]').value,
            'phone': document.querySelector('input[name=phone]').value,
            'country': document.querySelector('input[name=country]').value,
            'city': document.querySelector('input[name=city]').value,
            'zip_code': document.querySelector('input[name=zip_code]').value,
        };
    
        let errors = validateForm(data);
    
        if (Object.keys(errors).length) {
            displayErrors(errors);
        } else {
            var stripe = Stripe('{{ pub_key }}');
    
            fetch('/order/start_order/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                credentials: 'same-origin',
                body: JSON.stringify(data)
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(session) {
                return stripe.redirectToCheckout({ sessionId: session.session.id });
            })
            .then(function(result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function(error) {
                console.log('Errors', error);
            });
        }
    
        return false;
    }
</script>
{% endblock scripts %}