{% extends "shopapp/layout.html" %} 

{% block head %}
<style>
    .success-body {
        border: 3px solid #f1f1f1;
        background-color: #f1f1f1;
    }

    .container-success-outside {
        margin-top: 100px;
        margin-bottom: 100px;
        border: 3px solid #f1f1f5;
        border-radius: 15px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 45px;
        background-color: white;
    }
    
    .estimated-arrival {
        margin-left: -10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .shipping-to {
        margin-left: -10px;
    }

</style>
{% endblock head %}

{% block title %}
Success
{% endblock title %}

{% block content %}

<div class="success-body">
<div class="container container-success-outside">
<h1><i class="fa-solid fa-circle-check" style="color: #008000;"></i>
    Thank you for your order, {{ request.user.last_name }}!</h1>
   {% for order in request.user.orders.all %} 
        {% if forloop.first %}
            Your order <strong>#{{ order.id }}</strong> is in the works. <br>
            <div class="container container-success-inside">
            <div class="estimated-arrival">
            <i class="fa-regular fa-calendar" style="color: black;"></i> Estimated arrival: {{ first_estimated_arrival|date:"F j, Y" }} - {{ last_estimated_arrival|date:"F j, Y" }}  <br> 
            </div>
            <div class="shipping-to">
            <i class="fa-solid fa-location-dot" style="color: black;"></i> Shipping To:  <br> 
            {{ order.first_name }} {{ order.last_name }} <br>
            {{ order.address }} <br>
            {{ order.city }}, {{ order.zip_code }} <br>
            {{ order.country }} <br><br>
            Tracking information will be available once your order ships.
            </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
</div>
{% endblock content %}